# Database
DATABASE_URL="file:./dev.db"

# 0G Chain
NEXT_PUBLIC_CHAIN_ID=16602
NEXT_PUBLIC_RPC_URL=https://rpc-testnet.0g.ai
NEXT_PUBLIC_EXPLORER_URL=https://chainscan-newton.0g.ai

# SIFIX Contract
NEXT_PUBLIC_SIFIX_CONTRACT=0x544a39149d5169E4e1bDf7F8492804224CB70152

# 0G Storage
ZEROG_STORAGE_URL=https://storage-testnet.0g.ai
ZEROG_STORAGE_API_KEY=

# OpenAI (for AI analysis)
OPENAI_API_KEY=

# SIFIX Agent
SIFIX_AGENT_URL=http://localhost:3001

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=SIFIX
